@font-face {
    font-family: 'lalezar';
    src: url('../../assets/Lalezar-Regular.ttf');
}


.title{
    color: #ff1493;
    margin-top: 20px;
    margin-left:20px;
    font-family:lalezar ;
}

.addTodoBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    height:100%;
    width: 30%;
    min-width: 30rem;
    background-color:#676cd0;
    justify-content: center;
    border-radius: 15px;
    padding: 8px;
    padding-top: 9px;
}
.allContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-width: 40rem;
    height: 100%;
    background-color: transparent;
    
}

@media screen and (max-width: 600px) {
    .allContainer {
        transform: scale(0.5);
        transform-origin: center;
        margin-left: 2rem;
    }
}

.textField{

        margin: 10px;
        color: #ff1493;
        height: 60px;
        width: 28rem;
        overflow-wrap:break-word;
}
.taskHolder{
    width: 38.78rem;
    margin-top: -1.5rem;
    background-color:#676cd0;
    border-radius: 10px;
    overflow: scroll;
    border:#676cd0;
    min-height: 42px;
    font-family: lalezar;

}

::-webkit-scrollbar {
    color: #343775;
    width: 20px;
}

    ::-webkit-scrollbar-thumb {
        background: #343775; 
        border-radius: 10px;
      }
.eachTask{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    text-align: right;
    margin: 20px;
    overflow-wrap:break-word ;
    
}